.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  max-width: 75rem;
  margin: 0 auto 5rem;
  padding: 0 1.25rem;
  width: 100%;
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin: 2rem 0;
}
.header .link {
  text-decoration: none;
  color: #2b2d42;
  text-transform: uppercase;
  display: inline-block;
}
.header .heading,
.header .sub-heading {
  margin: 0;
}
.header .text {
  display: block;
  line-height: 1em;
}
.header .text--top {
  font-size: 1em;
  font-weight: 400;
}
.header .text--bottom {
  font-size: 1.5em;
  font-weight: 800;
  color: #d80032;
}
.header .sub-heading {
  font-size: 1.2em;
  font-weight: 400;
}
.footer {
  background: #2b2d42;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
  margin-top: auto;
}
